/*
 * Copyright (c) 2023 LAZYDESIGNERS
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    macros {
        M4: M4 {
            compatible = "zmk,behavior-macro";
            label = "M4";
            #binding-cells = <0>;
            bindings = <&macro_press>, <&kp RCTRL &kp SPACE>, <&macro_release>;
        };
        M0: M0 {
            compatible = "zmk,behavior-macro";
            label = "M0";
            #binding-cells = <0>;
            bindings = <&kp L &kp A &kp N &kp R &kp U &kp M &kp E &kp N &kp G>;
        };
        M1: M1 {
            compatible = "zmk,behavior-macro";
            label = "M1";
            #binding-cells = <0>;
            bindings = <&kp LS(M) &kp S &kp C &kp N5 &kp N8 &kp N7 &kp N0 &kp N7 &kp N0 &kp N2 &kp M &kp W>;
        };
        M2: M2 {
            compatible = "zmk,behavior-macro";
            label = "M2";
            #binding-cells = <0>;
            bindings = <&kp LS(M) &kp S &kp C &kp N5 &kp N8 &kp N7 &kp N0 &kp N7 &kp N0 &kp N2 &kp EXCL>;
        };
        M3: M3 {
            compatible = "zmk,behavior-macro";
            label = "M3";
            #binding-cells = <0>;
            bindings = <&kp N5 &kp N8 &kp N7 &kp N0 &kp N7 &kp N0 &kp N2 &kp M &kp S &kp C>;
        };
    };

    behaviors {
        fs: fs {
            compatible = "zmk,behavior-hold-tap";
            label = "FS";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <180>;
            flavor = "tap-preferred";
            hold-trigger-key-positions = <22>;
        };
        g2: g2 {
            compatible = "zmk,behavior-hold-tap";
            label = "G2";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <180>;
            flavor = "tap-preferred";
            hold-trigger-key-positions = <23>;
        };
        js: js {
            compatible = "zmk,behavior-hold-tap";
            label = "JS";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <180>;
            flavor = "tap-preferred";
            hold-trigger-key-positions = <25>;
        };
        nalt: nalt {
            compatible = "zmk,behavior-hold-tap";
            label = "NALT";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            hold-trigger-key-positions = <38>;
            flavor = "tap-preferred";
            tapping-term-ms = <180>;
        };
        mctrl: mctrl {
            compatible = "zmk,behavior-hold-tap";
            label = "MCTRL";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            hold-trigger-key-positions = <39>;
            tapping-term-ms = <180>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // ---------------------------------------------------------------------------------------------
            // | 7  |  8  |  9  | ESC |  Q  |  W  |  E  |  R  |  T  |  Y  |  U  |  I  |  O  |  P  |  BSPC  |
            // | 4  |  5  |  6  | TAB  |  A  |  S  |  D  |  F  |  G  |  H  |  J  |  K  |  L  |    ENTER    |
            // | 1  |  2  |  3  | SHIFT  |  Z  |  X  |  C  |  V  |  B  |  N  |  M  |  ,  |  UP  |  SHIFT   |
            // | 0  |  .  |ENTER| CTL  |  WIN  |  ALT  |    SPACE   |    SPACE   |  LEFT | DOWN  |  RIGHT  |
            // ---------------------------------------------------------------------------------------------

            bindings = <
&kp N7  &kp N8   &kp N9     &lt 2 ESCAPE  &kp Q       &kp W     &kp E  &kp R         &kp T    &kp Y  &kp U              &kp I           &kp O          &kp P          &kp BSPC
&kp N4  &kp N5   &kp N6     &kp LEFT_GUI  &kp A       &kp S     &kp D  &fs LSHIFT F  &g2 2 G  &kp H  &js RSHIFT J       &kp K           &kp L                         &kp RET
&kp N1  &kp N2   &kp N3     &kp LSHFT                 &kp Z     &kp X  &kp C         &kp V    &kp B  &nalt RIGHT_ALT N  &mctrl RCTRL M  &kp DEL        &kp RSHIFT     &kp RC(SPACE)
&kp N0  &kp DOT  &kp ENTER  &kp LCTRL     &kp ESCAPE  &kp LGUI         &lt 1 SPACE                   &lt 3 BACKSPACE                    &kp RIGHT_ALT  &kp RIGHT_GUI  &kp RCTRL
            >;
        };

        control_layer {
            // ---------------------------------------------------------------------------------------------
            // | 7  |  8  |  9  | ESC |  Q  |  W  |  E  |  R  |  T  |  Y  |  U  |  I  |  O  |  P  |  BSPC  |
            // | 4  |  5  |  6  | TAB  |  A  |  S  |  D  |  F  |  G  |  H  |  J  |  K  |  L  |    ENTER    |
            // | 1  |  2  |  3  | SHIFT  |  Z  |  X  |  C  |  V  |  B  |  N  |  M  |  ,  |  UP  |  SHIFT   |
            // | 0  |  .  |ENTER| CTL  |  WIN  |  ALT  |    SPACE   |    SPACE   |  LEFT | DOWN  |  RIGHT  |
            // ---------------------------------------------------------------------------------------------

            bindings = <
&kp F7  &kp F8  &kp F9  &none    &kp N1     &kp N2           &kp N3  &kp N4     &kp N5     &kp N6    &kp N7         &kp N8    &kp N9     &kp N0      &kp BACKSPACE
&kp F4  &kp F5  &kp F6  &kp TAB  &kp LC(A)  &kp C_VOLUME_UP  &trans  &trans     &trans     &kp LEFT  &kp UP         &kp DOWN  &kp RIGHT              &kp SLASH
&kp F1  &kp F2  &kp F3  &trans              &trans           &trans  &kp LC(C)  &kp LC(V)  &trans    &kp RS(SEMI)   &kp SEMI  &kp COMMA  &kp PERIOD  &trans
&trans  &trans  &trans  &trans   &none      &trans                   &trans                          &kp BACKSLASH            &kp PIPE   &none       &none
            >;
        };

        layer_2 {
            bindings = <
&bt BT_SEL 0  &trans        &trans        &trans  &kp EXCLAMATION  &kp AT  &kp HASH  &kp DOLLAR  &kp PERCENT  &kp CARET  &kp AMPERSAND  &kp STAR          &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &none
&trans        &trans        &trans        &trans  &kp F1           &kp F2  &kp F3    &kp F4      &kp F5       &kp F6     &none          &kp LEFT_BRACKET  &kp RIGHT_BRACKET                            &kp DELETE
&bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &trans                   &kp F7  &kp F8    &kp F9      &kp F10      &kp F11    &kp F12        &kp C_MUTE        &kp APOS              &kp DOUBLE_QUOTES      &trans
&bt BT_CLR    &sys_reset    &bootloader   &trans  &trans           &trans            &trans                              &trans                           &kp GRAVE             &kp TILDE              &none
            >;
        };

        layer_3 {
            bindings = <
&trans  &trans  &trans  &kp PLUS      &trans     &trans     &trans  &trans  &trans  &trans  &trans  &trans          &kp C_VOL_UP     &kp C_VOLUME_DOWN  &trans
&trans  &trans  &trans  &kp MINUS     &kp MINUS  &kp UNDER  &trans  &trans  &trans  &trans  &trans  &kp LEFT_BRACE  &kp RIGHT_BRACE                     &trans
&trans  &trans  &trans  &kp ASTERISK             &M0        &M1     &M2     &M3     &trans  &trans  &kp QUESTION    &kp LESS_THAN    &kp GREATER_THAN   &trans
&trans  &trans  &trans  &kp SLASH     &kp EQUAL  &trans             &tog 0                  &trans                  &trans           &trans             &trans
            >;
        };
    };
};
